/* banner */
.b-text{
    padding: 180px 5px;
}
.text{
    font-size: 48px;
}
.first{
    color: red;
}
.h-first{
    font-size: 18px;
}
/* .img-item{
    max-width: 100px;!important
} */
.item{
    padding: 180px 0;
}
.text-item{
    color: rgb(33, 221, 159);
}
/* book css */
.hr-divider{
    text-align: center;
}
.card-item{
    /* border: 1px solid #853e3e; */
    border-radius: 7px;
    background: #5daace;
    box-sizing: border-box;
    
}
.card-item:hover{
    color: #fff;
}
.card-item img{
    align-items: center;
    padding:30px 70px;
    
}
.h-text{
    padding: 25px 5px 25px 5px;
}
.p-text{
text-align: center;
}
.card-body a:hover{
color: #a11d1d;
background-color: aqua;
border-radius: 30px;
}
.tech img{
    height: 300x;
    width: 300px;
    border-radius: 50%;
    
}
.tech {
    padding: 20px 200px;
    border-radius: 50%;
    
}


